@import "../../globals.css";

mark {
  background-color: var(--blue);
  color: var(--off-white);
}

.salary-card * {
  margin: 0;
}

.salary-card {
  align-items: flex-start;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 1em;

  background-color: #fff;
  border: 3px solid var(--red);
  color: var(--blue);
  margin-inline: auto;
  padding: var(--card-padding);
  text-align: left;
  width: max-content;
}

.salary-right-section {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.salary {
  font-size: 1.1rem;
  padding: 0.8em 1em 0em;
}

mark {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-button {
  padding: 0;
  width: 100%;
}

.update-button:hover {
  cursor: pointer;
}

form {
  text-align: center;
}

.submit-button {
  font-size: 0.8rem;
  font-weight: 600;
  height: fit-content;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.submit-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .salary-card {
    gap: 0.5em;
  }

  * {
    font-size: 1rem;
  }
}
