@import url("https://fonts.googleapis.com/css2?family=Anton&family=Assistant:wght@400;500;600;700;800&display=swap");

:root {
  --button-border-radius: 15px;
  --card-padding: 1em;
  --logo-font: Anton;
  --webpage-font: Assistant;
  --red: #da1212;
  --blue: #041562;
  --white: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: var(--webpage-font);
}

html {
  height: 100%;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  text-align: center;
}
