@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --logo-font: Anton
  --webpage-font: Nanum Gothic;
  --red: #DA1212;
  --blue: #041562;
  --white: #EEE;
  --button-border-radius: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
