@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;800;900&family=Assistant:wght@400;500;600&display=swap");

:root {
  --button-padding: 0.5em 1em;
  --card-padding: 1em;
  --logo-font: Bitter;
  --webpage-font: "Assistant";
  --red: #da1212;
  --blue: #11468f;
  --dark-blue: #041562;
  --off-white: #eee;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: var(--webpage-font);
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

button {
  background-color: var(--blue);
  border: none;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  padding: var(--button-padding);
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}
