.salary-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(100px, 3fr);
  justify-content: space-evenly;

  margin-block-start: 8vh;
}

@media screen and (max-width: 700px) {
  .salary-grid {
    grid-auto-flow: row;
    gap: 2em;
  }
}
