.salary-grid {
  display: grid;
  gap: 1em;
  grid-auto-flow: column;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  margin: 8vh auto 5vh;
  width: 80%;
}

@media screen and (max-width: 1200px) {
  .salary-grid {
    grid-auto-flow: row;
  }
}
