@import "../../globals.css";

.add-new-salary-section {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
  width: 100%;
  height: 100%;
  padding-block-start: 20px;
}

.add-new-salary-heading {
  font-family: var(--logo-font);
  font-size: 1.3rem;
  margin-block-end: 0;
}

.required-asterisk {
  color: var(--red);
}
