@import "../../globals.css";

.header {
  background-color: var(--blue);
  color: var(--white);
  height: 70%;
  margin-bottom: 50px;
}

.logo-name {
  font-family: var(--logo-font);
  font-size: 3rem;
  font-weight: bold;
  margin-block-end: 0.5em;
}

.intros-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-block-end: 15px;
  margin-inline: auto;
  max-width: 70%;
}

@media screen and (max-width: 768px) {
  .intros-container {
    flex-direction: column;
    align-items: center;
  }
}

.intro-card {
  background-color: var(--red);
  font-size: 1.1rem;
  min-width: 230px;
  padding: var(--card-padding);
  width: 30%;

  /* common animation properties */
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media screen and (max-width: 768px) {
  .intro-card {
    min-width: 300px;
  }
}

#first-intro {
  animation-name: toggle-first-intro;
  animation-delay: 9s;
}

@keyframes toggle-first-intro {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

#second-intro {
  animation-name: toggle-second-intro;
  animation-delay: 9s;
}

@keyframes toggle-second-intro {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
