html {
  width: 100vw;
}

body {
  width: 100vw;
}

.filter-box {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.sector-item {
  margin-bottom: 3rem;
}

.salary-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-start;
  margin-inline: auto;
  width: 80%;
}

.salary-item {
  width: 23em;
}

.searchBar {
  margin: 1rem auto 2rem;
  width: 40%;
}

@media (max-width: 1150px) {
  .salary-item {
    flex: 1;
  }
}
