body {
  width: 100%;
}

.filter-box {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.salary-box {
  display: flex;
  gap: 3%;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 5px;
  width: 60%;
  margin: 0.5rem auto;
}

.salary-item {
  flex: 1;
  margin: 0.5em 0;
}

.searchBar {
  margin: 1rem auto 2rem;
  width: 40%;
}
