@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@600;700;800&family=Hind+Siliguri:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --button-padding: 0.5em 1em;
  --card-padding: 1em;
  --form-gap: 0.2em;
  --logo-font: Bitter;
  --webpage-font: "Helvetica, Segoe UI, Hind Siliguri";
  --red: #da1212;
  --blue: #11468f;
  --dark-blue: #041562;
  --off-white: #eee;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: var(--webpage-font);
  font-size: 1.1rem;
}

html {
  height: 100%;
  width: 100vw;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

button {
  background-color: var(--blue);
  border: none;
  border-radius: 10px;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  padding: var(--button-padding);
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}
