@import "./globals.css";

html {
  width: 100%;
}

/* Navbar */
.nav {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  gap: 2em;
  justify-content: center;
  padding-block: 0.5em 1em;
  padding-inline: 10em;
  width: 100vw;
}

.nav-link {
  background-color: var(--blue);
  color: var(--white);
  font-size: 0.9rem;
  font-weight: 500;
  padding: 5px 8px;
  position: relative;
  text-decoration: none;
  transition: "background-color" 250s ease-in-out;
}

.nav-link:focus,
.nav-link:active {
  background-color: var(--white);
  color: var(--blue);
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  height: 5vh;
  margin-top: 20em;
  width: 100vw;

  display: flex;
  align-items: center;
  place-content: center;
}
