.sector {
  margin-inline: auto;
  width: 65%;
}

.sector-heading {
  color: var(--blue);
  font-weight: "bold";
  font-size: 1.2rem;
  margin: 0;
  text-align: left;
}

hr {
  background: var(--blue);
  border: none;
  border-radius: 2px;
  height: 2px;
  margin-bottom: 0;
}
