.sector-heading {
  color: var(--blue);
  font-weight: "bolder";
  font-size: 1.2rem;
  list-style: none;
  margin: 0;
  margin-inline: auto;
  text-align: left;
  width: 65%;
}

.sector-heading:hover {
  cursor: pointer;
}

hr {
  background: var(--blue);
  border: none;
  border-radius: 2px;
  height: 2px;
  margin-bottom: 0;
  width: 65%;
}
